body{
    background-color: rgb(102, 148, 222);
   }
.register_form{
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #979797;
    border-radius: 10px;
    background-color: white;
}
.button{
    background-color: rgb(102, 148, 222);
    color: white;
}